---
import MobileHeader from "@components/__preact/mobileHeader";
import style from "./style.module.scss";
import Logo from "@assets/shared/logo.svg";

const { pathname } = Astro.props;
---

<header class={style.header}>
    <a href="/" data-astro-prefetch>
        <img
            src={Logo.src}
            alt="Website logo that links to home page"
        />
    </a>

    <span class={style.navigationBar}>
        <hr />
    </span>
    <nav class={style.navigation}>
        <a 
            href="/" 
            class={`text-preset-8 ${pathname === "/" ? style.active : ""}`}
        >
            HOME
        </a>
        <a 
            href="/destination/" 
            class={`text-preset-8 ${pathname === "/destination/" ? style.active : ""}`}
        >
            <b>01</b>
            DESTINATION
        </a>
        <a 
            href="/crew/" 
            class={`text-preset-8 ${pathname === "/crew/" ? style.active : ""}`}
        >
            <b>02</b>
            CREW
        </a>
        <a 
            href="/technology/" 
            class={`text-preset-8 ${pathname === "/technology/" ? style.active : ""}`}
        >
            <b>03</b>
            TECHNOLOGY
        </a>
    </nav>
    <MobileHeader 
        pathname={pathname} 
        client:load 
    />
</header>